#Projects{
    margin: 0 auto;
    min-height: calc(100vh -4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
.projectstitle{
 margin: 1rem 0;
 font-size: 3rem;

}
.projectsDescr{
 font-weight: 300;
 font-size: 1rem;
}
.projectsimgs{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
}
.projectsimg{

    height: 250px;
    width: 250px;
    margin: 10px;
}
.projectsbtn{
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    color: white;
    background: rgb(0, 0, 0);
    font-size: 1rem;
}